%titulo-principal {

    font-family: 'Rochester', cursive;
    color: #000000;
    font-size: 9vw;
}

%font-lily-script-one {
    font-family: "Lily Script One", system-ui;
    font-style: normal;
    color: #D03333;
}

%roboto-flex {
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(139, 139, 139);
}