body {
    background-color: #E5E5E5;

    #grid-estructural {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'header'
            'seccion-principal'
            'seccion-acerca-de'
            'seccion-especial-del-dia'
            'seccion-menu'
            'nuestro-equipo'
            'seccion-galeria'
            'footer';

        align-items: center;
        justify-items: center;
        row-gap: 100px;
        column-gap: 10px;
        padding-top: 85px;
    }
}