.footer {
    grid-area: footer;
    text-align: center;
    background-color: #E5E5E5;

    div {
        .social-media {
            margin-bottom: 20px;
        }

        a {
            .social-icon {
                margin: 0 10px;
                display: inline-block;
            }

            .social-icon img {
                width: 30px;
                height: 30px;
                transition: transform 0.3s;
            }

            .social-icon img:hover {
                transform: scale(1.2);
            }
        }
    }


}